# git 忽略文件

*.DS_Store
/.idea/*
/vendor/*
/admin/runtime/*
/website/runtime/*
/console/runtime/*
/admin/web/assets/*
/website/web/assets/*

/website/controllers/AgreementController.php
/website/controllers/DebitController.php
/website/controllers/QpayController.php
/website/controllers/WithdrawController.php

