# git 忽略文件

/admin/runtime/*
/website/runtime/*
/console/runtime/*
/.idea/*
/vendor/*

/website/controllers/AgreementController.php
/website/controllers/DebitController.php
/website/controllers/QpayController.php
/website/controllers/WithdrawController.php

