@charset "UTF-8";

/* Fonts
----------------------------------- */
@font-face {
    font-family: 'MontserratRegular';
    src: url("../font/montserrat-regular.woff");
    src: url("../font/montserrat-regular.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url("../font/montserrat-bold.woff");
    src: url("../font/montserrat-bold.woff") format('woff');
    font-style: normal;
    font-weight: bold;
}

select {
	-webkit-appearance: none;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

.form-inline {
	margin-bottom:15px;
}
.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}
.form-row > [class*=col-] {
	padding-right: 5px;
	padding-left: 5px;
}

/* -------- body frame ----- */
*, :after, :before {
	box-sizing: border-box;
}
body {
    min-width:1200px;
	margin:0;
	color:#73879C;
	font-weight:400;
    font:14px/20px 'MontserratRegular', Helvetica, Arial, sans-serif;
}

/* -------- search form ----- */
.search {
	margin-bottom:16px;
}
div[class^="input-group"] {
	padding:4px 5px 4px 0;
}

ul.pagination {
	margin:0;
	padding:0;
}
#info-page .render {
	float:right;
}

/* checkbox group */
.checkbox-group {
	margin-bottom:15px;
}
.checkbox-group .checkbox {
	margin:5px 0;
}
.checkbox-group .checkbox,
.checkbox-group label {
	display:inline-block;
}
.checkbox-group input[type=checkbox],
.checkbox-group input[type=radio] {
	display:none;
}
.checkbox-group input[type=checkbox]:checked + label,
.checkbox-group input[type=radio]:checked + label {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.checkbox-group input[type=checkbox]:disabled + label,
.checkbox-group input[type=radio]:disabled + label {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.checkbox-group input[type=checkbox]:checked:disabled + label,
.checkbox-group input[type=radio]:checked:disabled + label {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.checkbox-group.has-error input[type=checkbox]:checked + label,
.checkbox-group.has-error input[type=radio]:checked + label {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.w-40px{
	width:40px !important;
}
.w-50px{
	width:50px !important;
}
.w-60px{
	width:60px !important;
}
.w-70px{
	width:70px !important;
}
.w-80px{
	width:80px !important;
}
.w-85px{
	width:85px !important;
}
.w-90px{
	width:90px !important;
}
.w-100px{
	width:100px !important;
}
.w-120px{
	width:120px !important;
}
.w-130px{
	width:130px !important;
}
.w-150px{
	width:150px !important;
}
.w-180px{
	width:180px !important;
}
.w-200px{
	width:200px !important;
}
.w-250px{
	width:250px !important;
}
.w-300px{
	width:300px !important;
}
.w-350px{
	width:350px !important;
}
.w-360px{
	width:360px !important;
}
.w-375px{
	width:375px !important;
}
.w-380px{
	width:380px !important;
}
.w-400px{
	width:400px !important;
}
.w-450px{
	width:450px !important;
}
.w-500px{
	width:500px !important;
}
.w-550px{
	width:550px !important;
}
.w-600px{
	width:600px !important;
}
.w-700px{
	width:700px !important;
}
.w-750px{
	width:750px !important;
}
.w-800px{
	width:800px !important;
}
.w-900px{
	width:900px !important;
}
.w-1000px{
	width:1000px !important;
}
.w-auto{
	width:auto !important;
}
.w-p100{
	width:100% !important;
}

.pd,
.pd-15px {
	padding:15px !important;
}
.pd-20px  {
	padding:20px !important;
}
.pl,
.pl-15px {
	padding-left:15px !important;
}
.pr,
.pr-15px {
	padding-right:15px !important;
}
.pt-5px  {
	padding-top:5px !important;
}
.pt,
.pt-10px {
	padding-top:15px !important;
}
.pt-20px {
	padding-top:20px !important;
}
.pb,
.pb-15px {
	padding-bottom:15px !important;
}

.mg,
.mg-15px {
	margin:15px !important;
}
.mt-5px {
	margin-top:5px !important;
}
.mt,
.mt-15px {
	margin-top:15px !important;
}
.mt-20px {
	margin-top:20px !important;
}
.ml-5px {
	margin-left:5px !important;
}
.ml,
.ml-15px {
	margin-left:15px !important;
}
.ml-20px {
	margin-left:20px !important;
}
.ml-30px {
	margin-left:30px !important;
}
.mr-5px {
	margin-right:5px !important;
}
.mr,
.mr-15px {
	margin-right:15px !important;
}
.mr-20px {
	margin-right:20px !important;
}
.mb,
.mb-15px {
	margin-bottom:15px !important;
}
.mb-20px {
	margin-bottom:20px !important;
}

.fl {
	float:left !important;
}
.fr {
	float:right !important;
}
.tl  {
	text-align:left !important;
}
.tr  {
	text-align:right !important;
}

.box-shadow {
	box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);
}
